{% extends "base.html" %} {% block content %} {% load static %}
<section class="content">
  <div class="menu_logo">
    <img src="/static/img/logo.svg" alt="">
    <h1>Edit</h1>

  </div>
  <section class="post_form">
    <form action="/edit/{{posts.id}}/" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="text" name="name" value="{{posts.name}}"  required />
      <input name="body" value="{{posts.body}}"  required></input>
      <br>
   {% if posts.image.url %}
    
      <img src="{{posts.image.url}}" style="width: 250px; height: 200px;">
      {% endif %}
      <br>
      <input id="uploadfile" type="file" name="image"/>
      <div class="banner">
        <a href="{% url 'index' %}" id="cancel" type="submit">Cancel</a>
        <input id="tweet" type="submit" value="Update"/>
      </div>

     

    </form>

  </section>

  {% endblock %}